@charset "UTF-8";

*{ /*브라우저마다 스타일 설정이 조금씩 다르기 때문에 디자인을 위한 기본 스타일을 정의함*/
font-family:'Noto Sans KR', sans-serif; box-sizing :border-box;
} /*html과 body 태그의 기본 설정 여백을 제거함*/
html, body {
	margin: 0;
	padding: 0;
}

* {
            font-family: 'Noto Sans KR', sans-serif;
        }
        
          body {
            background-color: white;
        }
        
        #top {
      width: 100%;
      height: 150px;
      background-color: white;
      padding: 0;
      text-align: center;
      }

        #bottom {
            margin: auto;
            width: 300px;
            background-color: #EEEFF1;
            border-radius: 5px;
            text-align: center;
            padding: 20apx;
           font-size: 20px;
        }
        
        
        input {
            padding: 10px;
            box-sizing: border-box;
            border-radius: 5px;
            border: none;
            text-align: left;
        }
		#button {
            background-color: black;
            margin-bottom: 5px;
            color: white;
        }

        #create {
           padding-top: 5px;
           padding-bottom: 0px;
              font-size: 17px;
        }
        #find {
           padding-top: 3px;
           padding-bottom: 0px;
              font-size: 17px;
        }